<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button>
      +
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="tertiary" (click)="userA()">
        1
      </ion-fab-button>
      <ion-fab-button color="success" (click)="userB()">
        2
      </ion-fab-button>
      <ion-fab-button color="secondary" (click)="userC()">
        3 
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button  (click)="goHome()" mode="md" color="black"  aria-label="Favorite">
          <ion-icon name="home-outline" aria-hidden="true" class="icon-home"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-row class="logo">
    <ion-col>
      <ion-icon name="chatbox-ellipses"></ion-icon>
      <br>
      <ion-label>
        Empieza
        <p class="ion-text-left">la conversación</p>
      </ion-label>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-list lines="full">
    <ion-list-header class="ion-margin">
      <ion-label>
        Bienvenido de vuelta
      </ion-label>
    </ion-list-header>

    <ion-item-group class="ion-margin-horizontal">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Correo electronico">
              <ion-icon name="mail" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>
        </div>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input formControlName="password" type="password" placeholder="Contraseña">
              <ion-icon name="key" color="medium" slot="start"></ion-icon>
            </ion-input>
          </ion-item>
        </div>

        <ion-button 
          size="large" 
          expand="block" 
          shape="round" 
          color="primary" 
          type="submit">
          <ion-text color="white">Ingresar</ion-text>
        </ion-button>
        <ion-toast color="danger" position="top" [isOpen]="isToastOpen" message="Correo o contraseña incorrectos" [duration]="3000" (didDismiss)="setOpen(false)"></ion-toast>
      </form>
    </ion-item-group>
  </ion-list>
</ion-footer>

