<ion-content [fullscreen]="true">
  @if(this.authService.currentUserSig())
  {
    @defer{
      <div class="contenedorCustom">
        <ion-button (click)="goChat4A()" color="tertiary" class="btnClase"
          >PPS-4A</ion-button
        >
        <ion-button (click)="goChat4B()" color="primary" class="btnClase"
          >PPS-4B</ion-button
        >
      </div>
      <ion-fab slot="fixed" vertical="top" horizontal="start">
        <ion-fab-button (click)="logout()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    }
    @placeholder {
      <ion-spinner class="spinner" color="danger"></ion-spinner>
    } @loading (minimum 2s) {
      <ion-spinner class="spinner" color="danger"></ion-spinner>  
    }
  
    
  }
  @else {
    <ion-grid>
      <ion-row class="logo">
        <ion-col>
          <ion-icon name="chatbox-ellipses"></ion-icon>
          <ion-label>
            <p class="ion-text-left logoLabel">Empieza</p>
            <p class="ion-text-left">la conversación</p>
          </ion-label>
        </ion-col>
      </ion-row>
      <div class="authButton">
        <ion-button size="large" expand="block" shape="round" color="primary"
        (click)="goLogin()">
          <ion-text color="white">Ingresar</ion-text>
        </ion-button>
        <ion-button size="large" expand="block" shape="round" color="white" 
        (click)="goRegister()">
          <ion-text color="primary">Registrarse</ion-text>
        </ion-button> 
      </div>
    </ion-grid>
  }

 
  
  
</ion-content>
